*{
  margin: 0;
  padding: 0;
  background-color:rgb(22, 183, 189);
}
h1{
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  justify-content: space-between;
}
.todo__box input{
  margin: 10px;
  padding: 5px;
  background-color: aliceblue;
}
.btn{
  padding: 5px;
  border-radius: 10px;
  background-color: aliceblue;
}
.element{
  font-size: 25px;
  color: black;
  font-weight: 500;
  font-variant: small-caps;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.del{
  background-color: aliceblue;
}
.del:hover{
  background-color: aqua;
}

.btn2{
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(0, 251, 255);
}
.element button{
  margin: 5px;
  padding: 4px;
  border-radius: 10px;
}